@{
    ViewBag.Title = "Search Trainer";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


<title>Trainers Details</title>
<div class="container-fluid">
    <h1>Trainer Information</h1>
    <div class="row">
        <div class="col-sm-2" style="background-color:lavender;">ID</div>
        <div class="col-sm-2" style="background-color:lavenderblush;">Trainer Name</div>
        <div class="col-sm-2" style="background-color:lavender;">Gender</div>
        <div class="col-sm-2" style="background-color:lavender;">Mobile</div>
        <div class="col-sm-2" style="background-color:lavender;">Email</div>
        <div class="col-sm-2" style="background-color:lavender;">JoinDate</div>

    </div>
</div>


