@{
    ViewBag.Title = "Search Trainer";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


@*<title>Trainers Details</title>
<div class="container-fluid">
    <h1>Trainer Information</h1>
    <div class="row">
        <div class="col-sm-2" style="background-color:lavender;">ID</div>
        <div class="col-sm-2" style="background-color:lavenderblush;">Trainer Name</div>
        <div class="col-sm-2" style="background-color:lavender;">Gender</div>
        <div class="col-sm-2" style="background-color:lavender;">Mobile</div>
        <div class="col-sm-2" style="background-color:lavender;">Email</div>
        <div class="col-sm-2" style="background-color:lavender;">JoinDate</div>

    </div>
</div>*@


<div class="card">
    <div class="card-body">
        <h4 class="card-title">Trainer Information</h4><br />
        <div class="container">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table" id="Cust_Rec">
                        <thead style="background-color:#03a9f3">
                            <tr style="color:white">
                                <th>ID</th>
                                <th>Trainer Name</th>
                                <th>Gender</th>
                                <th>Mobile</th>
                                <th>Email</th>
                                <th>JoinDate</th>
                            </tr>
                        </thead>
                        @*<tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Mobile</td>
                                    <td>@item.Source</td>
                                    <td>@item.Payment</td>
                                </tr>
                            }
                        </tbody>*@
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>
<script src="~/Content/Script/jquery-3.2.1.min.js"></script>
<script src="~/Content/Script/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Cust_Rec').DataTable({
            "bLengthChange": false,
            "pagingType": "full_numbers"
        });
    });
</script>

