
@{
    ViewBag.Title = "TrainerRegistration";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


    <title>Trainer Details</title>
    <div class="container-fluid">
        <h1>Trainer Details</h1>
        <div class="row">
            <div class="col-sm-4" style="background-color:lavender;">Tainer ID</div>
            <div class="col-sm-4" style="background-color:lavenderblush;">Trainer Name</div>
            <div class="col-sm-4" style="background-color:lavender;">Trainer Availability</div>
        </div>
    </div>


